// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

// Gravity Forms

.gform_fields {
  @extend .list-unstyled;
  @extend .row;

  input, select, textarea {
    @extend .form-control;
  }

  .gfield_label{
    font-weight: normal !important;
  }

  textarea {
    height: auto;
  }

}

.gfield_description {
  @extend .alert;
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  @extend .alert;
  @extend .alert-success;
}

.gform_button {
  @extend .btn;
  @extend .btn-primary;
}

.gfield_required {
  color: theme-color-level('danger', 6);
}

.gform_wrapper ul.gfield_radio li, .gform_wrapper ul.gfield_checkbox li {
  @extend .form-check;
}

.gform_validation_container {
  display: none;
}

.gfield_error .ginput_container {
  margin-bottom: 10px;
}
